body, html, div, a, ul, li, input, textarea {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
}

body{
    width: 100%;
    height: 100%;
}

table {
    z-index: 0;
}